html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
header > .inner {
  display: flex;
  width: 100%;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}
.logo > a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1139px) {
  header > .inner {
    max-width: 982px;
  }
}
@media (max-width: 1024px) {
  header > .inner {
    max-width: 768px;
  }
}

.header-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-nav ul li a {
  color: #333;
  text-decoration: none;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(assets/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.banner .inner {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1140px;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 15px;
}

.banner .inner h2 {
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 10px #000;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left nav nav right"
    "left copy copy right";
}
footer nav {
  grid-area: nav;
}
footer nav ul {
  padding: 20px 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
footer > p {
  grid-area: copy;
}
